/*底部箭头指示器的一个动画*/
@-webkit-keyframes slide_up {
    0%, 30% {
        opacity: 0;
        -webkit-transform: translate3d(0, 10px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -8px, 0);
    }
}